body{
    background-color: rgb(248, 238, 89);
}
#name{
    color: aliceblue;
}
#number{
    color: aliceblue;
}
#email{
    color: aliceblue;
}
#password{
    color: aliceblue;
}
button{background-color: rgb(39, 39, 151);}